<div class="container mat-elevation-z4" *ngIf="isDataLoaded | async">
  <mat-card>
    <mat-card-title>Checkout {{checkout.id}}</mat-card-title>
    <mat-card-content>
      First name: {{checkout.borrowerFirstName}}<br>
      Last name: {{checkout.borrowerLastName}}<br>
      Book: <a (click)="toBookDetails()">{{this.checkout.borrowedBook.title}}</a><br>
      Status: <label [class.available]="checkoutStatus.valueOf() == 'RETURNED'" [class.unavailable]="isLateReturn() || isLateReturn()">{{checkoutStatus.valueOf()}}</label><br>
      Checked out: {{checkout.checkedOutDate}}<br>
      Due date: {{checkout.dueDate}}<br>
      Returned date: {{checkout.returnedDate}}
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="toCheckoutEditing()">Edit</button>
  </mat-card>
</div>
