<div class="container mat-elevation-z4">

  <mat-form-field style="margin: 5px;" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="filterTitle" (keyup)="applyFilter()" type="text">
  </mat-form-field>
  <mat-form-field style="margin: 5px;" appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput [(ngModel)]="filterAuthor" (keyup)="applyFilter()" type="text">
  </mat-form-field>
  <mat-form-field style="margin: 5px;" appearance="fill">
    <mat-label>From year</mat-label>
    <input matInput [(ngModel)]="filterYearMin" (keyup)="applyFilter()" (change)="applyFilter()" type="number" [min]="filterYearMinDefault" [max]="filterYearMaxDefault">
  </mat-form-field>
  <mat-form-field style="margin: 5px;" appearance="fill">
    <mat-label>To year</mat-label>
    <input matInput [(ngModel)]="filterYearMax" (keyup)="applyFilter()" (change)="applyFilter()" type="number" [min]="filterYearMinDefault" [max]="filterYearMaxDefault">
  </mat-form-field>
  <mat-form-field style="margin: 5px;" appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="filterStatus" (selectionChange)="applyFilter()">
      <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button style="margin: 5px;" (click)="resetFilter()">Reset filter</button>

  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortBooks($event)">

        // Title
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header="title">Title</mat-header-cell>
          <mat-cell *matCellDef="let book">{{book.title}}</mat-cell>
        </ng-container>

        // Author
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef mat-sort-header="author">Author</mat-header-cell>
          <mat-cell *matCellDef="let book">{{book.author}}</mat-cell>
        </ng-container>

        // Year
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef mat-sort-header="year">Year</mat-header-cell>
          <mat-cell *matCellDef="let book">{{book.year}}</mat-cell>
        </ng-container>

        // Genre
        <ng-container matColumnDef="genre">
          <mat-header-cell *matHeaderCellDef mat-sort-header="genre">Genre</mat-header-cell>
          <mat-cell *matCellDef="let book">{{book.genre}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let book; columns: displayedColumns; let i = index"
                 [class.selected]="i == selectedIndex"
                 [class.favorite]="this.favorites?.includes(book.id)"
                 (click)="setSelected(book, i)"></mat-row>
      </mat-table>

      <button mat-raised-button color="accent" style="float: left; margin: 5px" (click)="createBook()">Add book</button>
      <button mat-raised-button hidden color="accent" style="float: left; margin: 5px;" (click)="openFavoritesList()">View favorites</button>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
                     [length]="this.totalElements"
                     (page)="getBooks()"
                     showFirstLastButtons
                     aria-label="Select page"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
